<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" media="all" href="/profiles/contrib/stratoserp_base/themes/stratoserp_theme/css/print.css" />
  </head>
  <body>
    {% if site_logo %}
      <img src="{{ site_logo }}" />
    {% endif %}
    {{ label }}
    <div class="page">
      {{ content }}
    </div>
  </body>
</html>
