{#
  Derived from original core/themes/classy/templates/field/field--comment.html.twig
#}
<section{{ attributes }}>

  {{ comments }}

  {% if comment_form %}
    {{ comment_form }}
  {% endif %}

</section>
